/* Popular article list */
.popular-article-list {
    font-family: 'PT Sans', sans-serif;
    width: 33%;
    display: inline-block;
    vertical-align: top;
    margin: 20px 0 0 0;
}

.popular-article-list h2 {
    font-weight: 700;
    line-height: 1.3;
    opacity: 0.8;
}

.popular-article-list-item { margin: 0px 0 15px 0; }

.popular-article-list-item .image, .popular-article-list-item .article {
    display: inline-block;
    vertical-align: top;
}

.popular-article-list-item .image {
    margin: 0 20px 0 0;
    height: 100px;
    width: 58px;
    font-weight: 700;
    line-height: 1.3;
    opacity: 0.8;
    font-size: 3em;
    color: #dab986;
}

.popular-article-list-item .article { width: 75%; }

.popular-article-list-item a, .popular-article-list-item a:visited {
    color: black;
    text-decoration-line: none;
}

.popular-article-list-item h4 {
    font-weight: 700;
    line-height: 1.3;
    margin: 0;
    opacity: 0.8;
    min-height: 42px;
    max-height: 42px;
    overflow: hidden;
}

.popular-article-list-item p {
    font-weight: 400;
    font-size: 11pt;
    opacity: 0.6;
}

.popular-article-list-item .excerpt {
    margin: 5px 0 0 0;
    min-height: 20px;
    max-height: 18px;
    overflow: hidden;
}

.popular-article-list-item a.author {
    font-weight: 400;
    font-size: 11pt;
    opacity: 0.7;
}

.popular-article-list-item a.author:hover { text-decoration: underline; }

@media only screen and (max-width: 1023px) {
    .popular-article-list { width: 100%; }
    .popular-article-list-item .article { width: 89%; }
}

@media only screen and (max-width: 767px) {
    .popular-article-list { width: 100%; }
    .popular-article-list-item .article { width: 72%; }
}