<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>22 жовтня відбулося феєричне відкриття ХІ Фестивалю комедії</title>

    <!-- Fonts -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Playfair+Display|Playfair+Display|Montserrat:400,700"> -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Styles -->
    <link href="header.css" rel="stylesheet">
    <link href="menu.css" rel="stylesheet">
    <link href="article-large.css" rel="stylesheet">
    <link href="article-list.css" rel="stylesheet">
    <link href="article-middle-list.css" rel="stylesheet">
    <link href="popular-article-list.css" rel="stylesheet">
    <link href="footer.css" rel="stylesheet">
    <link href="spectacle-list.css" rel="stylesheet">
    <link href="single-article.css" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="container">
            <div>
                <a href="#"><img src="rsz_logo.png"></a>
                <div class="description"><p>Чернівецький академічний обласний<br>український музично-драматичний театр<br>імені Ольги Кобилянської</p></div>
            </div>
            <div>
                <a href="https://www.twitter.com/dramtheater1905" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
                <a href="http://www.facebook.com/dramtheater" target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
                <a href="https://instagram.com/dramtheater1905" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>

    <div id="navbar">
        <div class="topnav" id="menu">
            <div class="container">
                <a href="#">Афіша</a>
                <a href="#">Театр</a></li>
                <a href="#">Працівники</a>
                <a href="#">Репертуар</a>
                <a href="#">Фестиваль</a>
                <a href="#">Студія</a>
                <a href="#" class="active">Новини</a>
                <a href="#">Вакансії</a>
                <a href="http://tickets.dramtheater.cv.ua/ua/playbill/" target="_blank">Квитки</a>
                <a href="#">Контакти</a>
                <a class="icon" onclick="toggleMenu()"><i class="fa fa-bars"></i></a>
            </div>
        </div>
    </div>

    <div class="image tablet" style="background: url(593ee29a3d129.jpg)center/cover;"></div>
    <div class="content">
        <div class="container">
            <div class="single-article">
                <div class="description">
                    <div class="title">22 жовтня відбулося феєричне відкриття ХІ Фестивалю комедії</div>
                    <a class="author" href="#">Автор</a>
                    <div class="date">Лют 13 - 7 хв читати</div>
                </div>
                <div class="image screen" style="background: url(593ee29a3d129.jpg)center/cover;"></div>
                <div class="left-block"></div>
                <div class="article-body">
                    <p class="drop-cap">Вітаю усіх учасників і чернівецького глядача особливо: 11-денне свято театру в столиці Буковини розпочалося. Журі майже у повному склади – торішнє. Але не можу не зупинитися на одному імені із цілим списком регалій світу культури. Скажу просто: голова журі цього року – жінка-легенда для нашого театру, народна артистка України Валентина ЗИМНЯ.</p>
                    <p>Перший день пройшов без обговорення на канапі. Ніколи було, дуже маленький люфт залишався між чотирма виставами першого дня (конкурсних – лише дві…).</p>                    
                    <img src="2016102402.jpg" alt="Drama theater" style="width: 100%;">

                    <p>Алі-Баба та безкінечні розбійники</p>
                    <p>О 12.00 мелодія «Черемшини» оголосила початок першої на цьому фестивалі вистави за казкою Веніаміна Смєхова (до речі, того самого Атоса з давнього серіалу «Три мушкетери») «Алі-Баба і розбійники» у виконанні Тернопільського академічного обласного театру актора і ляльки (постановник - з. а. України Володимир Лісовий, художник Оксана Федун, музика Сергія Нікітіна та Віктора Берковського).</p>
                    <p>Вистава розпочалася ще від гарненької афішки-програмки й захопила глядацьку дітлашню з першого подиху. Та й не дивно: казка, східна, у яскравих і чудернацьких костюмах, з піснями й танцями, трохи страшнуватою печерою – хіба це не цікаво?</p>
                    <img src="2016102410.jpg" alt="Drama theater" style="width: 100%;">

                    <p>Як належить у казці бідний і щедрий Алі-Баба (Дмитро Татарінов) із любою дружиною Зейнаб (Катерина Шпільман) протистоять богатому брату Касимові (Юрій Коцюк) із хитрою Фатімою (Ольга Володюк).</p>
                    <p>Отаман розбійників Хасан (Богдан Братнюк) час від часу перераховує своїх сорок розбійників (яких лише п’ятеро), і ці смішні підстаркуваті й дурнуваті розбійники із кривими шаблями й шапками набакир крутяться в безкінечному хороводі для ілюзії більшої кількості.</p>
                    <img src="2016102411.jpg" alt="Drama theater" style="width: 100%;">
                    
                    <p>Варто зауважити, що виконавці цих ролей – Тарас Іванків, Іван Головатюк, Микола Капшій, Петро Мрига, Олег Боков – у цій коловерті примудрюються наділити свої персонажі індивідуальними рисами, що різнять їх одне від одного і на тому запам’ятовуються.</p>
                    <p>А коли ще й усе добре закінчується, усі герої примирюються, посилаючи у зал добру надію на гарне майбутнє. Особисто мені найбільше сподобався верблюд Жамал…</p>
                    <p>Капелюшок для панни Ольги</p>
                    <p>З театрального залу глядачі плавно перемістилися під дощ на площу перед театром, але це не завадило особливо терплячим отримати задоволення від вуличної вистави Львівського академічного театру «Воскресіння» «Глорія» (автор – Ярослав Федоришин) і навіть побути у захваті від вправного ходіння акторів на ходулях.</p>
                    <p>У тому захваті якось ніхто не дістався до розмови про зміст вистави, та може, й не треба, бо вистава поза конкурсом і відбулася просто як подарунок чернівчанам. А гарний капелюшок, що його надягли на голову пам’ятника патронесі нашого театру панні Ользі Кобилянській, залишався на ній принаймні ще пізнього вечора…</p>
                    <img src="2016102417.jpg" alt="Drama theater" style="width: 100%;">
                    
                    <p>Не ловіть чорних мотилів</p>
                    <p>О 16 годині глядача приймав зал Центрального палацу культури Чернівців, на якому «Театр у кошику» національного центру театрального мистецтва імені Леся Курбаса (Львів) вийняв зі свого кошика моновиставу «Білі мотилі, плетені ланцюги», створену режисером Іриною Волицькою та актрисою Лідією Данильчук (з. а. України) за текстами Василя Стефаника, щедро збагаченими народними піснями Прикарпаття і грою на автентичних інструментах самоі ж виконавиці Лідії Данильчук.</p>
                    <p>Про що розповідає вистава? – про Жінку. Адже де б вона не жила і ким би не була, жінка воліє наповнити своє життя, свою повсякденність щастям, як уміє та як розуміє його – просто любов’ю. У праці, материнстві, у збереженні родини й домівки, у пісні, у творчості… Не завжди виходить, але вона знову намагається…</p>
                    <p>У виконанні Лідії Данильчук відзначаєш дві речі: текст вистави живе не лише на її вустах, а в кожному порухові тіла актриси (до речі, дуже пластичних рухах) і те, як актриса відчуває і контролює ритм вистави (коли на сцені лише сама вона і немає партнера, за діями якого можна ловити той ритм).</p>
                    <p>Разом з Лідією Данильчук ми пережили усі перипетії життя героїні (чи героїнь), її набутки і втрати. Вистава тривала приблизно годину, але здавалося – ціле життя…</p>
                    <img src="2016102409.jpg" alt="Drama theater" style="width: 100%;">
                    
                    <p>«Осіння Феєрія» у чернівецькому надвечір’ї</p>
                    <p>І ледь відпочивши від напруження «Білих мотилів…», поринаємо о 18.30 у море зовсім інших емоцій, для яких, якщо обирати одне слово, я обрала б Радість.</p>
                    <p>Київська оперета привезла феєричний (не побоюся перегуку із заголовком!) гала-концерт із найкращих номерів свого репертуару: відомі й вперше почуті арії, сцени з вистав, запальні танці, сольні номери музикантів – і усе це у прегарних вишуканих костюмах.</p>
                    <p>Вечірні сукні виконавиць – хоч на територію вручення «Оскара». Балеринки тоненькі як свічечки, а на худюсеньких співачок дивишся і думаєш «Та чим же вона співає?». І все це у безкінечному рухові і з емоційним диригуванням почергово Ігоря Ярошенка та Оксани Мадараш.</p>
                    <p>Режисер-постановник цього дійства – звісно ж, художній керівник Київської оперети, н.а. України Богдан Струтинський.</p>
                </div>

                <div class="additional">
                    <div class="article-large">
                        <a href="#">
                            <div style="background: url(pavlynka.png)center/cover;height:180px;"></div>
                            <h2>Про Залицяння І Женихання Тих, Кому За 60, Зі Сцени Чернівецького Театру Розповідали Івано-Франківські Актори</h2>
                            <p class="excerpt">В рамках 11-го фестивалю комедії "Золоті оплески Буковини" в Чернівецькому академічному обласному музично-драматичному театрі імені Ольги Кобилянської 24 жовтня відбулася вистава "За дверима бажань". Ліричну комедію за п`єсою сучасного драматурга Андрія Іванова "Божі кульбабки" блискуче зіграли актори Івано-Франківського академічного обласного українського музично-драматичного театру</p>
                        </a>
                        <a class="author" href="#">Автор</a>
                        <p class="date">Лют 13 - 7 хв читати</p>
                    </div>
                    <div class="article-large hidden-768-1024">
                        <a href="#">
                            <div style="background: url(shine-my-crazy-diamond.jpg)center/cover;height:180px;"></div>
                            <h2>22 жовтня відбулося феєричне відкриття ХІ фестивалю комедії</h2>
                            <p class="excerpt">Вітаю усіх учасників і чернівецького глядача особливо: 11-денне свято театру в столиці Буковини розпочалося. Журі майже у повному склади – торішнє. Але не можу не зупинитися на одному імені із цілим списком регалій світу культури.</p>
                        </a>
                        <a class="author" href="#">Автор</a>
                        <p class="date">Лют 13 - 7 хв читати</p>
                    </div>
                    <div class="article-large">
                        <a href="#">
                            <div style="background: url(blistern-and-gems-of-the-family.jpg)center/cover;height:180px;"></div>
                            <h2>Золоті Оплески-2016: Цілий День Фестивалило Рівне</h2>
                            <p class="excerpt">В рамках 11-го фестивалю комедії "Золоті оплески Буковини" в Чернівецькому академічному обласному музично-драматичному театрі імені Ольги Кобилянської 24 жовтня відбулася вистава "За дверима бажань". Ліричну комедію за п`єсою сучасного драматурга Андрія Іванова "Божі кульбабки" блискуче зіграли актори Івано-Франківського академічного обласного українського музично-драматичного театру</p>
                        </a>
                        <a class="author" href="#">Автор</a>
                        <p class="date">Лют 13 - 7 хв читати</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="latest-news">
                <h2>Останні новини</h2>
                <div style="border-bottom: 1px #ffffff33 solid;margin: 10px 0 10px 0;"></div>
                <div class="article-large">
                    <a href="#">
                        <div style="background: url(pavlynka.png)center/cover;height:180px;"></div>
                        <h2>Про Залицяння І Женихання Тих, Кому За 60, Зі Сцени Чернівецького Театру Розповідали Івано-Франківські Актори</h2>
                        <p class="excerpt">В рамках 11-го фестивалю комедії "Золоті оплески Буковини" в Чернівецькому академічному обласному музично-драматичному театрі імені Ольги Кобилянської 24 жовтня відбулася вистава "За дверима бажань". Ліричну комедію за п`єсою сучасного драматурга Андрія Іванова "Божі кульбабки" блискуче зіграли актори Івано-Франківського академічного обласного українського музично-драматичного театру</p>
                    </a>
                    <a class="author" href="#">Автор</a>
                    <p class="date">Лют 13 - 7 хв читати</p>
                </div>
                <div class="article-list">
                    <div class="article-list-item">
                        <!-- <a class="image" href="#" style="background: url(blistern-and-gems-of-the-family.jpg)center/cover;"></a> -->
                        <div class="article">
                            <a href="#">
                                <h4>Золоті Оплески-2016: Цілий День Фестивалило Рівне</h4>
                                <p class="excerpt">До Чернівців привезли «Бабусині пригоди» – казку українського поета Олександра Олеся</p>
                            </a>
                            <a class="author" href="#">Автор</a>
                            <p class="date">Лют 13 - 7 хв читати</p>
                        </div>
                    </div>
                    <div class="article-list-item">
                        <!-- <a class="image" href="#" style="background: url(avalanche.jpg)center/cover;"></a> -->
                        <div class="article">
                            <a href="#">
                                <h4>Про Кохання Під Час Війни Та Гадання На Кавовій Гущі: Чернігівська Актриса Виступила В Чернівцях З Моновиставою</h4>
                                <p class="excerpt">В рамках проведення 11-го фестивалю комедії "Золоті оплески Буковини" 25 жовтня в Центральному Палаці культури Чернівців чернівчан вражала актриса Чернігівського обласного академічного українського музично-драматичного театру імені Тараса Шевченка, заслужена артистка України Оксана Гребенюк. Вона блискуче виступила з моновиставою "Целофанове щастя" за п`єсою вірменського драматурга Каріне Ходікян - розповіддю про все життя тривалістю півтори години.</p>
                            </a>
                            <a class="author" href="#">Автор</a>
                            <p class="date">Лют 13 - 7 хв читати</p>
                        </div>
                    </div>
                    <div class="article-list-item">
                        <!-- <a class="image" href="#" style="background: url(silver-spider.jpg)center/cover;"></a> -->
                        <div class="article">
                            <a href="#">
                                <h4>Четвертого Дня «золоті Оплески» На Двох Сценах Зібрав Чернігів</h4>
                                <p class="excerpt">Після минулорічного успіху, коли вистава «Комедія Помилок» за Шекспіром у постановці з. а України Андрія Бакірова отримала безперечне визнання і навіть перше місце від альтернативного журі, особливо радісно зустріли новину, що у фестивальній афіші аж дві вистави Чернігівського обласного академічного українського музично-драматичного театру ім. Т.Г. Шевченка.</p>
                            </a>
                            <a class="author" href="#">Автор</a>
                            <p class="date">Лют 13 - 7 хв читати</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="recent-spectacles">
                <h2>Найближчі вистави</h2>
                <div style="border-bottom: 1px #ffffff33 solid;margin: 10px 0 10px 0;"></div>
                <div class="spectacle-list">
                    <div class="spectacle-list-item">
                        <a class="image" href="#" style="background: url(blistern-and-gems-of-the-family.jpg)center/cover;"></a>
                        <div class="spectacle">
                            <div class="title-type-container">
                                <a href="#">
                                    <h3>Білосніжка і семеро гномів</h3>
                                    <p class="type">Вистава на дві дії</p>
                                </a>
                            </div>
                            <p class="date">Лют 13 - 18:30</p>
                        </div>
                    </div>
                    <div class="spectacle-list-item">
                        <a class="image" href="#" style="background: url(avalanche.jpg)center/cover;"></a>
                        <div class="spectacle">
                            <div class="title-type-container">
                                <a href="#">
                                    <h3>Лавина</h3>
                                    <p class="type">Музична казка</p>
                                </a>
                            </div>
                            <p class="date">Лют 13 - 12:00</p>
                        </div>
                    </div>
                    <div class="spectacle-list-item">
                        <a class="image" href="#" style="background: url(silver-spider.jpg)center/cover;"></a>
                        <div class="spectacle">
                            <div class="title-type-container">
                                <a href="#">
                                    <h3>Срібний павук</h3>
                                    <p class="type">Музична комедія на дві дії</p>
                                </a>
                            </div>
                            <p class="date">Лют 20 - 19:30</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="erht">
                <h2>Спадщина</h2>
                <div style="border-bottom: 1px #ffffff33 solid;margin: 10px 0 10px 0;"></div>
                <a href="#"><div style="background: url(ERHT1.png)center/cover;"></div></a>
                <p>Театр імені Ольги Кобилянської входить до Європейської мережі історичних театрів</p>
            </div>
            <div class="sponsors">
                <h2>Наші спонсори</h2>
                <div style="border-bottom: 1px #ffffff33 solid;margin: 10px 0 10px 0;"></div>
                <div class="items">
                    <a href="#"><div style="background: url(arnika.jpg)center/cover;"></div></a>
                    <a href="#"><div style="background: url(mashzavod.jpg)center/cover;"></div></a>
                    <a href="#"><div style="background: url(trembita.jpg)center/cover;"></div></a>
                </div>
            </div>
            <div class="social">
                <h2>Соціальні мережі</h2>
                <div style="border-bottom: 1px #ffffff33 solid;margin: 10px 0 10px 0;"></div>
                <div class="items">
                    <a href="https://www.twitter.com/dramtheater1905" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
                    <a href="http://www.facebook.com/dramtheater" target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
                    <a href="https://instagram.com/dramtheater1905" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="rights">Чернівецький академічний обласний український музично-драматичний театр імені Ольги Кобилянської 2016 © Усі права захищені</div>
    </div>

    <!-- JavaScript -->
    <script src="menu.js"></script>
</body>
</html>