body {
    background-color: #000;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

section {
    width: 100%;
    min-height: 100px;
    height: auto;
}

div {
    display: block;
}
 
p {
    margin: 0;
    padding-bottom: 15px;
}

a {
    color: #7E0000;
    /* color: #fff; */
    text-decoration-line: none;
}

a:hover {
    color: #7E0000;
    /* color: #fff; */
    text-decoration-line: underline;
}

img {
    border-radius: 4px;
}

.container {
    position: relative;
    max-width: 1024px;
    /* max-width: 1230px; */
    height: auto;
    width: 100%;
}

.top-line-menu {
    min-height: 149px;
    height: auto;
    width: 100%;
}

.top-line-menu .under-menu {
    background-image: linear-gradient(#080601, #4c2324);
    /* background-image: url('/assets/images/menu-under-bg.jpg'); */
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 150px;
    height: auto;
    width: 100%;
}

.top-line-menu .under-menu .title-text {
    padding-top: 40px;
}

.title-text-mobile {
    padding-top: 40px;
    display: none;
}

.top-line-menu .under-menu .right-top-block .right-top-langauges-block {
    position: relative;
    height: auto;
    width: auto;
}

.top-line-menu .under-menu .right-top-block .right-top-langauges-block .lang {
    height: auto;
    width: auto;
}

.top-line-menu .under-menu .right-top-block .right-top-langauges-block a {
    border-left: 1px #7E0000 solid;
    text-transform: uppercase;
    padding: 1px 5px 1px 8px;
    display: inline-block;
    transition: all 0.1s;
    font-size: 12px;
    opacity: 0.7;
    z-index: 3;
}

.top-line-menu .under-menu .right-top-block .right-top-langauges-block a:hover {
    transition: all 0.1s;
    opacity: 1;
}

.top-line-menu .under-menu .right-top-block .right-top-langauges-block a:nth-child(1) {
    border-left: none;
}

.top-line-menu .under-menu .right-top-block .right-top-langauges-block .active {
    opacity: 1;
}

.top-line-menu .menu {
    border-top: 1px #3E0101 solid;
    background-color: #290000;
    justify-content: flex-end;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    align-items: center;
    position: relative;
    display: -moz-box;
    min-height: 55px;
    display: flex;
    height: auto;
    width: 100%;
}

.top-line-menu .menu:after {
    background-image: url('/assets/images/menu-after.png');
    background-repeat: repeat-x;
    position: absolute;
    height: 26px;
    width: 100%;
    content: "";
    bottom: 0;
    left: 0;
}

.top-line-menu .menu nav {
    position: relative;
    height: auto;
    width: auto;
    z-index: 3;
}

.top-line-menu .menu nav ul {
    text-align: center;
    padding: 0;
    margin: 0;
}

.top-line-menu .menu nav ul li {
    list-style-type: none;
    display: inline-block;
}

.top-line-menu .menu nav ul li a {
    border: 2px #2d0000 solid;
    text-decoration-line: none;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 6px 12px;
    font-size: 18px;
    color: #fff;
    margin: 2px;
}

.top-line-menu .menu nav ul li a:hover {
    text-decoration-line: none;
    border-color: white;
}

.top-line-menu .menu nav ul li .active {
    border-color: white;
}

.soc-container {
    text-align: center;
    padding-top: 50px;
}

.soc-list li {
    list-style-type: none;
    display: inline-block;
}

.soc-list li a {
    transition: all 0.1s;
    margin-left: 5px;
    display: block;
    opacity: 0.75;
    height: 34px;
    width: 34px;
}

.soc-list li a:hover {
    transition: all 0.1s;
    opacity: 1;
}

.logo {
    text-align: right;
}

.logo-page img {
    max-width: 250px;
    height: auto;
    width: 100%;
}

.menu-line nav ul li .active {
    border-bottom: 1px #600 solid;
    font-weight: bold;
    color: #600;
}

.menu-line-custom nav ul li .active {
    border-bottom: 1px #600 solid;
    color: #600;
}