<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>22 жовтня відбулося феєричне відкриття ХІ Фестивалю комедії</title>

    <!-- Fonts -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Playfair+Display|Playfair+Display|Montserrat:400,700"> -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Styles -->
    <link rel="stylesheet" href="repertoire.css">

    <link href="header.css" rel="stylesheet">
    <link href="menu.css" rel="stylesheet">
    <link href="article-large.css" rel="stylesheet">
    <link href="article-list.css" rel="stylesheet">
    <link href="article-middle-list.css" rel="stylesheet">
    <link href="popular-article-list.css" rel="stylesheet">
    <link href="footer.css" rel="stylesheet">
    <link href="spectacle-list.css" rel="stylesheet">
    <link href="single-article.css" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="container">
            <div>
                <a href="#"><img src="../images/rsz_logo.png"></a>
                <div class="description"><p>Чернівецький академічний обласний<br>український музично-драматичний театр<br>імені Ольги Кобилянської</p></div>
            </div>
            <div>
                <a href="https://www.twitter.com/dramtheater1905" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
                <a href="http://www.facebook.com/dramtheater" target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
                <a href="https://instagram.com/dramtheater1905" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>

    <div id="navbar">
        <div class="topnav" id="menu">
            <div class="container">
                <a href="#">Афіша</a>
                <a href="#">Театр</a></li>
                <a href="#">Працівники</a>
                <a href="#" class="active">Репертуар</a>
                <a href="#">Фестиваль</a>
                <a href="#">Студія</a>
                <a href="#">Новини</a>
                <a href="#">Вакансії</a>
                <a href="http://tickets.dramtheater.cv.ua/ua/playbill/" target="_blank">Квитки</a>
                <a href="#">Контакти</a>
                <a class="icon" onclick="toggleMenu()"><i class="fa fa-bars"></i></a>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container">
            <div class="additional">
                <div class="article-large">
                    <a href="#">
                        <p class="type">love—story з антрактом</p>
                        <div style="background: url(../images/shine-my-crazy-diamond.jpg)center/cover;"></div>
                        <h2>Сяй, мій божевільний діаманте!</h2>
                        <p class="excerpt">Це вистава про трьох жінок поважного віку, вдовиць, котрі, не зважаючи ні на що, не втрачають почуття гумору, здорового глузду і особливо шарму.</p>
                    </a>
                    <a class="author" href="#">Айвон Менчелл</a>
                    <p class="date">Тривалість - 2 год</p>
                </div>
                <div class="article-large">
                    <a href="#">
                        <p class="type">притча на 1 дію</p>
                        <div style="background: url(../images/avalanche.jpg)center/cover;"></div>
                        <h2>Лавина</h2>
                        <p class="excerpt">Одна з найвідоміших у Європі п’єс турецького драматурга Тунджера Джудженоглу. І перша її постановка в Україні на сцені Чернівецького муздрамтеатру імені Ольги Кобилянської у постановці художнього керівника театру – народної артистки України Людмили Скрипки.</p>
                    </a>
                    <a class="author" href="#">За п’єсою Т. Джудженоглу</a>
                    <p class="date">Тривалість - 1 год 20 хв</p>
                </div>
                <div class="article-large">
                    <a href="#">
                        <p class="type">вестерн по-чернівецьки</p>
                        <div style="background: url(../images/silver-spider.jpg)center/cover;"></div>
                        <h2>Срібний павук</h2>
                        <p class="excerpt">Перша вистава про таємниче, романтичне і трохи бандитське місто Чернівці за однойменним романом Василя Кожелянка.</p>
                    </a>
                    <a class="author" href="#">За мотивами роману Василя Кожелянка</a>
                    <p class="date">Тривалість - 2 год 40 хв</p>
                </div>
                <div class="article-large">
                    <a href="#">
                        <p class="type">вистава на 2 дії</p>
                        <div style="background: url(../images/trahediya-buntu.jpg)center/cover;"></div>
                        <h2>Трагедія бунту</h2>
                        <p class="excerpt">Кожна з історичних епох не минає безслідно ні для окремих людей, ні для народу в цілому. Найстрашнішою трагедією є трагедія людини, яка не пішла в життя власною дорогою, а, ніби чужу одежу, вдягла чужу жахливу долю.</p>
                    </a>
                    <a class="author" href="#">Панас Мирний</a>
                    <p class="date">Тривалість - 2 год 30 хв</p>
                </div>
                <div class="article-large">
                    <a href="#">
                        <p class="type">вистава на 1 дію</p>
                        <div style="background: url(../images/porankova-dusha.jpg)center/cover;"></div>
                        <h2>Поранкова душа</h2>
                        <p class="excerpt">До 155-ї річниці від дня народження української письменниці Ольги Кобилянської, ім'я якої носить наш театр, народний артист України, генеральний директор-художній керівник Львівського національного академічного театру опери та балету імені Соломії Крушельницької Василь Вовкун здійснив постановку своєї п'єси  "Поранкова душа", яку написав на основі щоденників Ольги Юліанівни.</p>
                    </a>
                    <a class="author" href="#">Василь Вовкун</a>
                    <p class="date">Тривалість - 1 год 30 хв</p>
                </div>
                <div class="article-large">
                    <a href="#">
                        <p class="type">містична драма на 1 дію</p>
                        <div style="background: url(../images/vir-abo-ne-vir.jpg)center/cover;"></div>
                        <h2>...Вір або не вір</h2>
                        <p class="excerpt">Наша землячка, відома сучасна українська письменниця Марія Матіос, як ніхто, розуміє народну душу. У цьому ви переконаєтеся коли побачите виставу «…ВІР АБО НЕ ВІР» за мотивами її оповідання «Не плачте за мною ніколи…». Ви впізнаєте, можливо, своїх знайомих і рідних, згадаєте дитинство, з якого уривками і досі долітають слова бабусь про життя людини на цій землі.</p>
                    </a>
                    <a class="author" href="#">за мотивами оповідання М. Матіос</a>
                    <p class="date">Тривалість - 1 год 15 хв</p>
                </div>
                
                <!-- <h2>Для дітей</h2>
                <div style="border-bottom: 1px #dab986 solid;margin: 10px 5px;"></div> -->
                <!-- <div class="article-large hidden-768-1024">
                    <p class="type">Музична казка</p>
                    <a href="#">
                        <div style="background: url(../images/blistern-and-gems-of-the-family.jpg)center/cover;"></div>
                        <h2>Білосніжка і семеро гномів</h2>
                        <p class="excerpt">Всесвітньо відома історія Білосніжки та гномів поведе у світ казки. І казка ця не тільки для дітей, але й для дорослих, адже основна тема, на якій наголошує режисер Андрій Романов – це дружба. У дружбі і єдності сила гномів, тільки разом вони здатні перемагати зло.</p>
                    </a>
                    <a class="author" href="#">За мотивами казки братів Грімм</a>
                    <p class="date">Тривалість - 1 год</p>
                </div> -->
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="latest-news">
                <h2>Останні новини</h2>
                <div style="border-bottom: 1px #ffffff33 solid;margin: 10px 0 10px 0;"></div>
                <div class="article-large">
                    <a href="#">
                        <div style="background: url(../images/pavlynka.png)center/cover;height:180px;"></div>
                        <h2>Про Залицяння І Женихання Тих, Кому За 60, Зі Сцени Чернівецького Театру Розповідали Івано-Франківські Актори</h2>
                        <p class="excerpt">В рамках 11-го фестивалю комедії "Золоті оплески Буковини" в Чернівецькому академічному обласному музично-драматичному театрі імені Ольги Кобилянської 24 жовтня відбулася вистава "За дверима бажань". Ліричну комедію за п`єсою сучасного драматурга Андрія Іванова "Божі кульбабки" блискуче зіграли актори Івано-Франківського академічного обласного українського музично-драматичного театру</p>
                    </a>
                    <a class="author" href="#">Автор</a>
                    <p class="date">Лют 13 - 7 хв читати</p>
                </div>
                <div class="article-list">
                    <div class="article-list-item">
                        <div class="article">
                            <a href="#">
                                <h4>Золоті Оплески-2016: Цілий День Фестивалило Рівне</h4>
                                <p class="excerpt">До Чернівців привезли «Бабусині пригоди» – казку українського поета Олександра Олеся</p>
                            </a>
                            <a class="author" href="#">Автор</a>
                            <p class="date">Лют 13 - 7 хв читати</p>
                        </div>
                    </div>
                    <div class="article-list-item">
                        <div class="article">
                            <a href="#">
                                <h4>Про Кохання Під Час Війни Та Гадання На Кавовій Гущі: Чернігівська Актриса Виступила В Чернівцях З Моновиставою</h4>
                                <p class="excerpt">В рамках проведення 11-го фестивалю комедії "Золоті оплески Буковини" 25 жовтня в Центральному Палаці культури Чернівців чернівчан вражала актриса Чернігівського обласного академічного українського музично-драматичного театру імені Тараса Шевченка, заслужена артистка України Оксана Гребенюк. Вона блискуче виступила з моновиставою "Целофанове щастя" за п`єсою вірменського драматурга Каріне Ходікян - розповіддю про все життя тривалістю півтори години.</p>
                            </a>
                            <a class="author" href="#">Автор</a>
                            <p class="date">Лют 13 - 7 хв читати</p>
                        </div>
                    </div>
                    <div class="article-list-item">
                        <div class="article">
                            <a href="#">
                                <h4>Четвертого Дня «золоті Оплески» На Двох Сценах Зібрав Чернігів</h4>
                                <p class="excerpt">Після минулорічного успіху, коли вистава «Комедія Помилок» за Шекспіром у постановці з. а України Андрія Бакірова отримала безперечне визнання і навіть перше місце від альтернативного журі, особливо радісно зустріли новину, що у фестивальній афіші аж дві вистави Чернігівського обласного академічного українського музично-драматичного театру ім. Т.Г. Шевченка.</p>
                            </a>
                            <a class="author" href="#">Автор</a>
                            <p class="date">Лют 13 - 7 хв читати</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="recent-spectacles">
                <h2>Найближчі вистави</h2>
                <div style="border-bottom: 1px #ffffff33 solid;margin: 10px 0 10px 0;"></div>
                <div class="spectacle-list">
                    <div class="spectacle-list-item">
                        <a class="image" href="#" style="background: url(../images/blistern-and-gems-of-the-family.jpg)center/cover;"></a>
                        <div class="spectacle">
                            <div class="title-type-container">
                                <a href="#">
                                    <h3>Білосніжка і семеро гномів</h3>
                                    <p class="type">Вистава на дві дії</p>
                                </a>
                            </div>
                            <p class="date">Лют 13 - 18:30</p>
                        </div>
                    </div>
                    <div class="spectacle-list-item">
                        <a class="image" href="#" style="background: url(../images/avalanche.jpg)center/cover;"></a>
                        <div class="spectacle">
                            <div class="title-type-container">
                                <a href="#">
                                    <h3>Лавина</h3>
                                    <p class="type">Музична казка</p>
                                </a>
                            </div>
                            <p class="date">Лют 13 - 12:00</p>
                        </div>
                    </div>
                    <div class="spectacle-list-item">
                        <a class="image" href="#" style="background: url(../images/silver-spider.jpg)center/cover;"></a>
                        <div class="spectacle">
                            <div class="title-type-container">
                                <a href="#">
                                    <h3>Срібний павук</h3>
                                    <p class="type">Музична комедія на дві дії</p>
                                </a>
                            </div>
                            <p class="date">Лют 20 - 19:30</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="erht">
                <h2>Спадщина</h2>
                <div style="border-bottom: 1px #ffffff33 solid;margin: 10px 0 10px 0;"></div>
                <a href="#"><div style="background: url(../images/ERHT1.png)center/cover;"></div></a>
                <p>Театр імені Ольги Кобилянської входить до Європейської мережі історичних театрів</p>
            </div>
            <div class="sponsors">
                <h2>Наші спонсори</h2>
                <div style="border-bottom: 1px #ffffff33 solid;margin: 10px 0 10px 0;"></div>
                <div class="items">
                    <a href="#"><div style="background: url(../images/arnika.jpg)center/cover;"></div></a>
                    <a href="#"><div style="background: url(../images/mashzavod.jpg)center/cover;"></div></a>
                    <a href="#"><div style="background: url(../images/trembita.jpg)center/cover;"></div></a>
                </div>
            </div>
            <div class="social">
                <h2>Соціальні мережі</h2>
                <div style="border-bottom: 1px #ffffff33 solid;margin: 10px 0 10px 0;"></div>
                <div class="items">
                    <a href="https://www.twitter.com/dramtheater1905" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
                    <a href="http://www.facebook.com/dramtheater" target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
                    <a href="https://instagram.com/dramtheater1905" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="rights">Чернівецький академічний обласний український музично-драматичний театр імені Ольги Кобилянської 2016 © Усі права захищені</div>
    </div>

    <!-- JavaScript -->
    <script src="menu.js"></script>
</body>
</html>