
section.theatre {
    background-image: url('/template/images/news-bg.jpg');
    border-top: 3px #78481D solid;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 74.7vh;
    height: 100%;
}

section.theatre:before {
    background-color: rgba(254, 216, 154, 0.9);
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    z-index: 0;
    left: 0;
    top: 0;
}

/* .title {
    background-image: url('/template/images/img-top-right.png');
    background-position: right top;
    background-repeat: no-repeat;
    padding: 25px 170px 70px 0;
    position: absolute;
    min-height: 160px;
    height: auto;
    width: auto;
    z-index: 1;
    right: 3%;
    top: 15px;
} */

/* .title h1 {
    font-family: 'Playfair Display', serif;
    border-bottom: 2px #7E0000 solid;
    font-weight: bold;
    font-size: 39px;
    color: #333;
    height: 45px;
} */

.page-title {
    font-family: 'Playfair Display', serif;
    border-bottom: 2px #7E0000 solid;
    font-weight: bold;
    font-size: 60px;
    color: #000;
}

.news-list {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100px;
    padding: 20px 0;
    height: auto;
    width: 100%;
}

.new-photo {
    margin: 20px 0 80px 0;
    position: relative;
    min-height: 195px;
    height: auto;
    width: 100%;
}

.new-photo img {
    -webkit-box-reflect: below 4px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.8, transparent), to(white));
    border-radius: 4px;
    height: auto;
    width: 100%;
}

.date {
    padding: 10px 20px 10px 20px;
    background-color: #5D0808;
    border-radius: 4px;
    position: absolute;
    font-size: 33px;
    bottom: -3px;
    left: 15px;
}

.new-text {
    padding-bottom: 35px;
    margin-bottom: 80px;
    position: relative;
    color: #000;
    height: auto;
    width: 100%;
}

.new-text span {
    font-family: 'Playfair Display', serif;
    border-bottom: 2px #7E0000 solid;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 30px;
    padding: 10px 0;
    display: block;
}

.new-text p {
    font-size: 16px;
}

.article-title-link {
    color: #000;
}

.article-title-link:hover {
    color: #5D0808;
}

.new-text .more {
    background-color: #5D0808;
    text-decoration-line: none;
    text-transform: uppercase;
    border-radius: 4px;
    position: absolute;
    padding: 3px 12px;
    font-size: 20px;
    color: #fff;
    bottom: 0;
    right: 0;
}

.new-text .more:hover {
    background-color: #770808;
    text-decoration-line: none;
    transition: all 0.1s;
}

/* PAGINATION */
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #5D0808;
    text-decoration-line: none;
    border-color: #5D0808;
}

ul.pagination li.page {
    background-color: #5D0808;
    border-radius: 4px;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    height: 40px;
    outline: 0;
    border: 0;
}

ul.pagination li.page:hover {
    background-color: #770808;
}

ul.pagination li.page-active {
    background-color: #961313;
}