
section.theatre {
    background-image: url('/template/images/news-bg.jpg');
    border-top: 3px #78481D solid;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 74.7vh;
    height: 100%;
}

section.theatre:before {
    background-color: rgba(254, 216, 154, 0.9);
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    z-index: 0;
    left: 0;
    top: 0;
}

.news-list {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100px;
    padding: 20px 0;
    height: auto;
    width: 100%;
}


.new-photo {
    margin: 20px 0 80px 0;
    position: relative;
    min-height: 195px;
    height: auto;
    width: 100%;
}

.new-photo img {
    -webkit-box-reflect: below 4px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.8, transparent), to(white));
    border-radius: 4px;
    height: auto;
    width: 100%;
}

.date {
    padding: 10px 20px 10px 20px;
    background-color: #5D0808;
    border-radius: 4px;
    position: absolute;
    font-size: 33px;
    bottom: -3px;
    left: 15px;
}
