@media only screen and (max-width : 767px) {

    .logo-page img {
        width: 90px;
        margin-top: -90px;
        margin-right: 125px;
    }

    .logo {
        z-index: 1;
    }
    
    .logo-page {
        width: 100px;
        margin-left: -180px;
        margin-top: 60px;
    }
    
    .soc-list {
        margin-top: -80px;
    }

    .soc-container {
        width: 100%;
        top: 43px;
        z-index: 1;
    }
    
    .title-text-mobile {
        display: none;
    }
    
    .menu .container {
        height: 60px;
    }

    .top-line-menu {
        min-height: 0px;
    }

    .top-line-menu .under-menu .right-top-block {
        justify-content: center;
        min-height: 0;
    }

    .top-line-menu .under-menu {
        min-height: 0;
        max-height: 0;
    }

    .top-line-menu .under-menu .title-text {
        display: none;
    }

    .top-line-menu .menu {
        display: block;
    }

    .top-line-menu .menu nav {
        width: 100%;
        display: none;
        position: absolute;
        left: 0;
        top: 55px;
        background-color: #290000;
        border-top: 1px #3E0101 solid;
    }

    .top-line-menu .menu nav:before {
        content: "";
        width: 100%;
        height: 55px;
        background-image: url(img/afisha/before-bg.png);
        background-repeat: repeat-x;
        background-position: 0 -26px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .top-line-menu .menu nav ul li {
        display: block;
        text-align: left;
        width: 100%;
        height: auto;
    }

    .top-line-menu .menu nav ul li:hover a {
        border-bottom: none;
    }

    .top-line-menu .menu nav ul li a {
        width: 100%;
        display: block;
        position: relative;
        z-index: 1;
        padding: 15px 0 15px 20px;
        margin: 0;
        border: 0;
        border-bottom: 1px rgba(255,255,255,0.1) solid;
    }

    .top-line-menu .menu nav ul li a:hover {
        background-color: #380000;
        padding-left: 22px;
        border-bottom: 1px #3E0000 solid;
    }

    .top-line-menu .menu nav ul li .active {
        background-color: #380000;
        padding-left: 22px;
        border-bottom: 1px #3E0000 solid;
    }

    .top-line-menu .menu nav ul .right-li a {
        margin-left: 0px;
        float: left;
    }

    .top-line-menu .menu nav ul .left-li a {
        margin-right: 0;
    }

    .menu-line nav ul li a {
        font-size: 19px;
    }

}

@media only screen and (max-width : 1024px) {

    .title-text-mobile {
        display: block;
    }

}

@media only screen and (max-width : 900px) {

    .soc-list-home{
        margin: 0 auto;
        margin-top: 5px;
    }

}

@media only screen and (max-width : 375px) {

    .soc-list {
        margin-right: 20px;
    }

}

@media only screen and (max-width : 960px) {

    .logo-page {
        width: 340px;
        margin-left: -170px;
        margin-top: 20px;
    }

}

@media only screen and (max-width : 700px) {
    .logo-page img {
        margin-right: 100px;
    }
}

@media only screen and (max-width : 600px) {
    .logo-page img {
        margin-right: 20px;
    }
}

@media only screen and (max-width : 375px) {

    .logo-page img {
        margin-right: 0;
    }

}