body {
    background-color: #000;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

section {
    width: 100%;
    min-height: 100px;
    height: auto;
}

div {
    display: block;
}
 
p {
    margin: 0;
}

a {
    color: #fff;
}

a:hover {
    color: #fff;
}

img {
    border-radius: 4px;
}

.dotted {
    z-index: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    padding: 2.25em 1.6875em;
    background-image: -webkit-repeating-radial-gradient(center center, rgba(128,128,128,.5), rgba(128,128,128,.5) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(128,128,128,.5), rgba(128,128,128,.5) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(128,128,128,.5), rgba(128,128,128,.5) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(128,128,128,.5), rgba(128,128,128,.5) 1px, transparent 1px, transparent 100%);
    -webkit-background-size: 3px 3px;
    -moz-background-size: 3px 3px;
    background-size: 3px 3px;
}

#home-bg {
    background-image: url("/template/images/home-bg.jpg");
    background-position: center;
    background-size: cover;
}

.top-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 83px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    text-align: center;
    align-items: center;
    z-index: 1;
}

.soc-list li {
    list-style-type: none;
    display: inline-block;
}

.soc-list li a {
    display: block;
    width: 34px;
    height: 34px;
    opacity: 0.75;
    transition: all 0.1s;
    margin-left: 5px;
}

.soc-list li a:hover {
    opacity: 1;
    transition: all 0.1s;
}

.soc-list-home {
    margin: 0 0 0 20px;
    padding: 0;
}

.soc-list-home li {
    list-style-type: none;
    display: inline-block;
}

.soc-list-home li a {
    display: block;
    width: 34px;
    height: 34px;
    opacity: 0.75;
    transition: all 0.1s;
    margin-left: 5px;
}

.soc-list-home li a:hover {
    opacity: 1;
    transition: all 0.1s;
}

.bottom-line {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 55px;
    height: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
}

.bottom-line span {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -11px;
}

.res_gt_900 {
    margin: 0 auto;
    display: inline-block;
}

.res_lt_900 {
    display: none;
    margin: 0 auto;
}

.res_lt_375 {
    display: none;
    margin: 0 auto;
}

.soc-wrap {
    display: inline-block;
    margin: 0 auto;
}

.container {
    z-index: 1;
    max-width: 1230px;
    width: 100%;
    height: auto;
    position: relative;
}

#upper {
    height: 70vh;
    text-align: center;
}

#upper img {
    margin-top: 15vh;
    width: 100%;
    max-width: 700px;
    height: auto;
}

#lower {
    font-family: 'Roboto Condensed', sans-serif;
    width: 50vw;
    height: 30vh;
    font-size: 4vh;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
}

#theatre, #tickets_main {
    background-image: url("/template/images/home-icons.png");
    width: 70px;
    height: 74px;
    margin: 0 auto;
}

#tickets_main {
    background-position: 0 74px;
}
  