/* Article middle list */
.article-middle-list {
    width: 66%;
    margin: 20px 0 20px 0;
    display: inline-block;
}

.article-middle { margin: 20px 0 20px 0; }

.article-middle .image, .article-middle .article {
    display: inline-block;
    vertical-align: top;
}

.article-middle .image {
    margin: 0 20px 0 20px;
    height: 151px;
    width: 151px;
}

.article-middle .article { width: 70%; }

.article-middle a, .article-middle a:visited {
    color: black;
    text-decoration-line: none;
}

.article-middle h2 {
    font-family: 'Playfair Display', serif;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.3;
    opacity: 0.8;
    margin: 0;
    min-height: 64px;
    max-height: 64px;
    overflow: hidden;
}

.article-middle p {
    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 11pt;
    opacity: 0.6;
}

.article-middle .excerpt {
    margin: 5px 0 10px 0;
    min-height: 36px;
    max-height: 36px;
    overflow: hidden;
}

.article-middle a.author {
    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 11pt;
    opacity: 0.7;
}

.article-middle a.author:hover { text-decoration: underline; }

@media only screen and (max-width: 1023px) {
    .article-middle-list { width: 100%; }
    .article-middle .article { width: 76%; }
    .article-middle .image { margin: 0 0 0 20px; }
}

@media only screen and (max-width: 767px) {
    .article-middle-list { width: 100%; }
    .article-middle .article { width: 62%; }
    .article-middle .image {
        margin: 0 0 0 10px;
        height: 100px;
        width: 100px;
    }
    .article-middle h2 {
        min-height: 42px;
        max-height: 42px;
        font-size: 16px;
    }
    .article-middle .excerpt {
        margin: 5px 0 0 0;
        min-height: 20px;
        max-height: 18px;
    }
}