body {
    background-color: #000;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

.sidebar, .container {
    width: 320px;
    display: inline-block;
    vertical-align: top;
}

.sidebar a div {
    padding: 10px 0 10px 20px;
    border-left-color: #000;
    border-left-width: 4px;
    border-left-style: solid;
}

.sidebar a div.active {
    color : #999;
    border-left-color: #999;
}

.sidebar a div:hover {
    background-color: #555;
}